.ServiceContent{
    color: white;
    font-weight: 700;             
    
    &-Service{
        background-position: center;
    }

    &-ServiceTitle{
        font-size: 3.2rem;     
        line-height: 1.1;   
        text-transform: uppercase;
    }    

    &-ServiceDesc{
        font-size: 16px;
        text-align: justify;        
    }

    &-Contact{
        align-items: center;
        display: flex;
        flex-direction: row;
        font-size: 14px;
        font-weight: 700; 
        justify-content: end;
        margin-bottom: 10px;        
    }

    &-ContactIcon{
        height: 40px;
        margin-bottom: 0;        
    }

    &-ContactInfo{
        line-height: 1.1;
        margin-bottom: 0;
        margin-left: 5px;
    }

    &-ServiceWrapper{        
        max-height: 670px;
        padding: 10px 0;
    }

    @include media-breakpoint-down(md){ 
        &-ServiceTitle{
            text-align: center;
        }

        &-Contact{
            justify-content: center;
        }
    }

}


.service-fig{
    margin: 0 0 0.5rem;
}