.About {
    margin-top: $margin-standard;
    &-item {
        list-style: none;
        &:before {
            content: "\2713";
            color: $secondary-color;
        }
    }
}

.contact {
    padding: 150px 0;
    &Adv {
        display: flex;
        align-items: center;
        vertical-align: top;
        &-title {
            margin-left: 1rem;
            font-family: $font-family;
            font-weight: 700;
            font-size: 29px;
        }
    }
    &-list {
        margin-bottom: 83px;
    }
    .form-control {
        background-color: $light-gray;
        border-color: $light-gray;
        border-radius: 0 !important;
        margin-top: 11px;
    }
    textarea.form-control {
        overflow-y: hidden;
    }
}

.Map {
    background-image: url('../../img/map.png');
    min-height: 554px;
    width: 100%;
}