.Client {
    display: flex;
    align-items: center;
    vertical-align: top;
    &-description {
        margin-left: 1rem;
        font-family: $font-family;
        font-weight: 700;
    }
}

.OurClients {
    &-container {
        margin: 80px auto; 
    }
}