.Footer{
    background-color: $primary-color;    
    color: $footer-font-color;    
    font-size: 12px;
    font-weight: 700 !important;
    height: 124px;    
    padding-top: 26px;   
    
    .info-box:nth-child(n + 2){
        border-left: 1px solid $secondary-color;        
        padding-left: 24px;
        margin-bottom: 0px;
    }        

    p{
        margin-bottom: 0px;
    }
}

.csi-logo img{
    width: 70px;
}

.social-links{
    color: $secondary-color;
}

.u-wrapper{
    margin-bottom: 0px;
    padding-left: 15px;
    padding-top: 9px;
}
