.Header{
    background-color: $secondary-color;
    height: 90px;
    padding-top: 10px;
    &-logo {
        float: left;
    }
    &-title {
        float: left;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1;
        margin-top: 9px;
        margin-left: 10px;
    }
}

.MainMenu{
    a{
        font-size: 11px;
        font-weight: bold;
        padding-left: 0px !important;
        padding-right: 0px !important;        
        white-space: nowrap;        
    }    

    li{
        margin-left: 12px;
    }

    .active, li:hover{
        border-bottom: 4px solid $primary-color;
    }
}
