.u {
    &-relative-wrapper {
        position: relative;
    }
}

.btn {
    &-centered {
        margin: 0 auto;
        text-align: center;
    }
    &-read {
        background: $primary-color;
        border-radius: 100px;
        color: $secondary-color;
        font-size: 14px;
        font-weight: 700;
        line-height: 50px;
        height: 50px;
        display: block;
        max-width: 160px;
        width: 100%;
    }
}

.text-white{
    color: #FFF;
}

.paragraph-justified{
    font-weight: 700;
    text-align: justify;
}

.paragraph-standard{
    margin-bottom: 2rem;
    text-align: justify;
}

.area-title{
    color: $font-color;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 2rem;    
    text-transform: capitalize;

    &-yellow{
        @extend .area-title;
        color: $secondary-color;
    }
}

.flex-center-items{
    align-items: center;    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.white-overlay{    
    background-color: rgba(255, 255, 255, 0.45);
    height: 100%;
    width: 100%;
}

.black-overlay{
    @extend .white-overlay;
    background-color: rgba(0, 0, 0, 0.45);
}

.flex-container-column-center{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.standard-button{
    background-color: $secondary-color;
    border-radius: 30px;    
    color: #FFF;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 36px;
    text-transform: uppercase;

    &-shadow{
        box-shadow: 0px 12px 0px 0px rgba(40, 39, 40, 0.25);
    }
}

.inline-link{
    color: $font-color;
    text-decoration: underline;
}

.full-height{
    max-height: 100%;
}

.margin-bot-standard{
    margin-bottom: $margin-standard;
}

.bold-text{
    font-weight: 700 !important;
}