.HomeContent{
    position: relative;
    &-Banner{
        height: 670px;
        position: relative;               
        background-size: cover;
        &-Title{
            border-left: 10px solid $secondary-color;
            left: 22%;
            padding-left: 24px;
            position: absolute;
            top: 10%;            
        }
        &-Title h1{
            font-size: 52px;
            font-weight: 700;
            line-height: 48px;
            margin-bottom: 5px;
        }
        &-Title h5{            
            font-weight: 700;
            margin-bottom: 0px;
        }
    }
    &-InfoBox {
        align-items: center;
        background-color: $secondary-color;
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: center;
        position: relative;
        text-align: center;
    }
    
    &-Expertise {
        bottom: -7%;
        position: absolute;
        width: 100%;
        img {
            position: absolute;
            top: -70px;
        }
    }
}

.HomeInfoBox {
    &-title {
        font-weight: 700;
        font-family: $font-family;
        margin-top: 58px;
    }
}

.OurClients {
    background-color: $light-gray;
    padding: 73px 0;
}

.StripeExperts {
    background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=282728&noise=626262&density=15&opacity=15);
    padding: 73px 0;
    &-text {
        color: $secondary-color;
        font-family: $font-family;
        font-size: 31px;
        font-weight: 700;
        line-height: 1;
        text-align: center;
    }
}