body {
    font-family: $font-family !important;
    font-size: 16px;
}

p {
    font-family: $font-family;
}

.title {
    &-stand-out {
        color: $secondary-color;
        font-family: $font-family !important;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }
}