.ArticlesContent{
    &-Search{
        margin: 36px 0;
    }

    &-Item{
        margin: $margin-large 0;
    }

    &-ArticleTitle{
        font-size: 35px;
        font-weight: 700;
    }

    &-FullArticleTitle{
        @extend .ArticlesContent-ArticleTitle;
        margin-bottom: 20px;
    }

    &-ReadMore{
        color: $font-color;
        font-weight: 700;        
    }

    &-ImageContainer{
        display: block;
        height: 270px;
        margin-bottom: 0;
        overflow: hidden;
        text-align: center;
    }

    &-ImageInternal{
        height: 100%;
    }

    @include media-breakpoint-down(lg){ 
        &-ArticleTitle{
            text-align: center;
        }        
    }
}