.GeneralInfoContent{
    position: relative;
    &-Banner{
        @extend .HomeContent-Banner;

        &-TitleBox{            
            left: 22%;            
            position: absolute;
            top: 10%;  
        }

        &-Title{
            border-left: 10px solid $secondary-color;
            font-size: 52px;
            font-weight: 700;
            line-height: 48px;
            margin-bottom: 5px;
            padding-left: 24px;
        }

        &-SubtitleBox{
            background-color: $font-color;
            margin-left: 34px;
            max-width: 580px;
            padding: 15px 20px;
            overflow-wrap: break-word;
        }

        &-Subtitle{
            color: $secondary-color;
            font-size: 28px;
            font-weight: 700;
        }        
    }

    &-WhiteArea{
        background-color: white;
        padding-bottom: 130px;
        position: relative;
    }  

    &-StripeExperts{
        align-items: center;
        background-color: $primary-color;
        display: flex;
        flex-direction: column;
        height: 740px;
        justify-content: center;
        padding: 70px 0px;    

        &-text{
            color: white;
            font-size: 30px;
            font-weight: 700;
            text-align: center;    
        }
    }

    @include media-breakpoint-only(xs){
        &-StripeExperts{
            height: 850px;
        }
    }
}

.Expertise{
    width: 100%;
    
    &-InfoBox {
        align-items: center;
        background-color: $secondary-color;
        color: $font-color;
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: center;
        position: relative;
        text-align: center;

        &-title {
            font-weight: 700;
            font-family: $font-family;
        }

        &-icon{
            max-width: 34%;
            position: absolute;
            top: -16%;
        }

        @include media-breakpoint-down(sm){
            &-icon{
                position: relative;
                top: 0;
            }
        }
    }   

    @include media-breakpoint-down(sm){
        &-InfoBox{
            margin-top: 30px;
        }
    }

    @include media-breakpoint-only(md){
        &-InfoBox{
            height: 200px;
        }
    }    

    &-Text{
        margin-bottom: 30px;
        margin-top: 55px;
        font-size: 14px;
        font-weight: 700;
        text-align: justify;
    }    

    &-Icons{
        border: 6px solid $secondary-color;
        border-top-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 25px 10px;       

        &-Button{
            background-color: $primary-color;
            border-radius: 30px;
            color: $secondary-color;
            font-size: 16px;
            font-weight: 700;
            margin: 0 auto;
            padding: 12px 0px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            width: 90%;
        }

        @include media-breakpoint-down(md){ 
            &-Button{
                font-size: 14px;
                width: 100%;
            }        
        }

        &-PicRow{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 32px;
        }

        &-Pic{
            flex-basis: 34%;
        }        
    }
}

.MoreInfo{
    align-items: center;
    height: 515px;
    background-image: url("/img/cpf.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;    

    &-Testimonials{
        background-color: $secondary-color;
        border-radius: 30px;
        color: white;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 30px;
        padding: 12px 18px;
        text-transform: uppercase;
    }

    &-Consult{
        color: $font-color;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;

        &-Link{
            color: $font-color;
            text-decoration: underline;
        }
    }
}