/*
// Body
$body-bg: #f5f8fa;

// Borders
$cakephp-border-color: darken($body-bg, 10%);
$list-group-border: $cakephp-border-color;
$navbar-default-border: $cakephp-border-color;
$panel-default-border: $cakephp-border-color;
$panel-inner-border: $cakephp-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
*/

//Colors
$font-color: #282728;
$primary-color: #282728;
$secondary-color: #e0b100;
$gray: #e8e8e8;
$dark-gray: #666666;
$light-gray: #efefef;
$footer-font-color: #76838c;

//Post Titles
$post-title-color: #898b8d;
$post-subtitle-color: #9e9e9e;

//Margins
$margin-standard: 20px;
$margin-special: 30px;
$margin-large: 50px;
$paragraph-margin-bot: 2rem; 

//Paddings
$padding-standard: 74px;

//Path
$img-path: "../../img" !default;
$font-path: "../../fonts" !default;

//Fonts 
@font-face {
    font-family: 'Coolvetica';
    font-style: normal;
    font-weight: normal;
    src: local('Coolvetica-Regular'), url('#{$font-path}/coolvetica.woff') format('woff');
}

$font-family: "Coolvetica", sans-serif;

