
// Fonts
@import "node_modules/font-awesome/scss/font-awesome";

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

//Initializer styles
body {
    font-family: $font-family !important;
    font-size: 16px;
}

@import "default/_reboot";
@import "default/_helpers";
@import "default/_header";
@import "default/_home";
@import "about/_index";
@import "services/_index";
@import "articles/_index";
@import "generalInfo/_index";
@import "default/clients";
@import "default/about";
//aqui debes de poner los llamados a los sass que crees
@import "default/_footer";
