.About {
    margin-top: 30px;
    &-item {
        margin: 18px 0;
        font-size: 21px;
        font-weight: 700;
    }
}

.AboutContent{
    position: relative;
    &-Banner{
        background-size: cover;
        height: 670px;
        overflow: hidden;
        position: relative;               

        &-Title{
            border-left: 10px solid $secondary-color;
            left: 22%;
            padding-left: 24px;
            position: absolute;
            top: 10%;            
        }
        &-Title-Main{
            color: white;
            font-size: 52px;
            font-weight: 700;
            line-height: 48px;
            margin-bottom: 5px;
        }       
    }

    &-BlackStripe{
        align-items: center;
        background-image: url("../../img/black-pattern.gif");
        display: flex;        
        height: 220px;
        justify-content: center;        

        &-Text{
            color: $secondary-color;
            font-size: 32px;
            font-weight: 700;
            margin: 0;
            text-align: center;
        }
    }

    &-Description{
        color: $font-color; 
        font-weight: 700;
        padding: $padding-standard 0;
    }

    &-OurValues{
        color: $font-color; 
        background-color: $light-gray;        
        font-weight: 700;
        padding: $padding-standard 0;
        text-align: center;
    }

    &-BottomBanner{
        background-image: url("http://www.ccmcnet.com/wp-content/uploads/2012/08/DM-Security-Group-Shot.jpg");
        background-position: center top;
        background-size: cover;
        height: 515px;  

        &-Text{
            font-size: 14px;
            font-weight: 700;
            margin-top: 30px;
        }      
    }
}

.u-wrapper-clear{
    //list-style: none;
    margin: 0;
    padding: 0;
    text-align: justify;

    li{
        margin-bottom: 10px;
    }
}